# =============================================================================
# AWS configuration
# =============================================================================
AWS_REGION="<AWS_REGION>"

# =============================================================================
# Agent configuration
# =============================================================================
# Required for creation and optional for updating agentcore runtime
AGENT_NAME = "strands_direct_deploy" 

# Optional for creation and required for updating agentcore runtime
# AGENT_RUNTIME_ID = "strands_direct_deploy-<id>"

# NOTE: Agentcore Runtime IAM execution role must be created prior to deployment
# Refer: https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/runtime-permissions.html#runtime-permissions-execution
AC_EXEC_ROLE_ARN = "arn:aws:iam::<ACCOUNT_ID>:role/AmazonBedrockAgentCoreSDKRuntimeDirect-<AWS_REGION>"

# NOTE: S3 Bucket and prefix to deployment package must be created prior to deployment
S3_BUCKET_NAME = "bedrock-agentcore-code-<ACCOUNT_ID>-<AWS_REGION>"
