# =============================================================================
# Langfuse configurations
# =============================================================================
LANGFUSE_OTEL_ENDPOINT = "https://us.cloud.langfuse.com/api/public/otel"
LANGFUSE_SECRET_KEY = "<langfuse-secret-key>"  # For production key should be securely stored
LANGFUSE_PUBLIC_KEY = "<langfuse-private-key>"  # For production key should be securely stored

# =============================================================================
# Amazon Bedrock configurations
# =============================================================================
BEDROCK_MODEL_ID = us.anthropic.claude-3-7-sonnet-20250219-v1:0
