# =============================================================================
# Arize cloud configurations
# =============================================================================
ARIZE_COLLECTOR_ENDPOINT = "https://otlp.arize.com/v1"
ARIZE_API_KEY="<api-key>" # For production key should be securely stored
ARIZE_SPACE_ID="<space-id>"
ARIZE_PROJECT_NAME = "<project-name>"

# =============================================================================
# Amazon Bedrock configurations
# =============================================================================
BEDROCK_MODEL_ID = us.anthropic.claude-3-7-sonnet-20250219-v1:0
